#### Google Palm LLM & API key setup

In [2]:
from langchain.llms import GooglePalm

api_key = your_api_key

llm = GooglePalm(google_api_key=api_key, temperature=0.2)

/home/shivam-1827/workspace/langchain/4_sqldb_tshirts/myenv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

#### Connect with database and ask some basic questions

In [3]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [119]:
db_user = "database_username"
db_password = "your_password"
db_host = "localhost"
db_name = "retail_sales_db"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	Black	S	19	15
2	Nike	White	S	24	64
3	Adidas	White	XS	14	55
*/

In [140]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain("How many t-shirts do we have left for nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(91,)]
Answer:91
> Finished chain.

Above is the correct answer 👍🏼

In [122]:
qns2 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('314'),)]
Answer:314
> Finished chain.

It made a mistake here. The price is actually the price per unit but in real life database columns will not have perfect names. We need to tell it somehow that price is price per unit and the actual query should be,

SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'

In [123]:
qns2 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('22292'),)]
Answer:22292
> Finished chain.

we will use qns2 value later on in this notebook. So hold on for now and let's check another query

Above, it returned a wrong query which generated an error during query execution. It thinks discount
table would have start and end date which is normally true but in our table there is no start or end date column.
One thing we can do here is run the query directly.

In [ ]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns3 = db_chain.run(sql_code)

It produced a correct answer when explicit query was given. 17462 is the total revenue without discounts. The total discount is 736.6. Hence revenue post discount is 17462-736.6=16725.4

Now this is not much interesting because what is the point of giving it the ready made query? Well, we will use this same query later on for few shot learning

In [ ]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

In [ ]:
qns5 = db_chain.run("How many white color Levi's t shirts we have available?")

Once again above is the wrong answer. We need to use SUM(stock_quantity). Let's run the query explicitly. We will use the result of this query later on in the notebook

In [ ]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

#### Few shot learning

We will use few shot learning to fix issues we have seen so far

In [ ]:
few_shots = [
    {
        "Question": "What is the total stock quantity of all t-shirts?",
        "SQLQuery": "SELECT SUM(stock_quantity) FROM t_shirts;",
        "SQLResult": "Result of the SQL query",
        "Answer": "58"
    },
    {
        "Question": "Which brand has the highest total stock quantity?",
        "SQLQuery": "SELECT brand, SUM(stock_quantity) AS total_stock FROM t_shirts GROUP BY brand ORDER BY total_stock DESC LIMIT 1;",
        "SQLResult": "Result of the SQL query",
        "Answer": "Clothing"
    },
    {
        "Question": "What is the total inventory value of all t-shirts?",
        "SQLQuery": "SELECT SUM(price * stock_quantity) FROM t_shirts;",
        "SQLResult": "Result of the SQL query",
        "Answer": "11055"
    },
    {
        "Question": "How many t-shirts are available in size 'L'?",
        "SQLQuery": "SELECT SUM(stock_quantity) FROM t_shirts WHERE size = 'L';",
        "SQLResult": "Result of the SQL query",
        "Answer": "6"
    },
    {
        "Question": "How many t-shirts are priced above 100?",
        "SQLQuery": "SELECT COUNT(*) FROM t_shirts WHERE price > 100;",
        "SQLResult": "Result of the SQL query",
        "Answer": "10"
    },
    {
        "Question": "Which color t-shirt has the highest stock quantity?",
        "SQLQuery": "SELECT color, SUM(stock_quantity) AS total_stock FROM t_shirts GROUP BY color ORDER BY total_stock DESC LIMIT 1;",
        "SQLResult": "Result of the SQL query",
        "Answer": "Red"
    },
    {
        "Question": "What is the average price of t-shirts in stock?",
        "SQLQuery": "SELECT AVG(price) FROM t_shirts;",
        "SQLResult": "Result of the SQL query",
        "Answer": "203.75"
    },
    {
        "Question": "Which brand has the most expensive t-shirt?",
        "SQLQuery": "SELECT brand FROM t_shirts ORDER BY price DESC LIMIT 1;",
        "SQLResult": "Result of the SQL query",
        "Answer": "Electronics"
    },
    {
        "Question": "What is the highest discount percentage available?",
        "SQLQuery": "SELECT MAX(pct_discount) FROM discounts;",
        "SQLResult": "Result of the SQL query",
        "Answer": "45.00"
    },
    {
        "Question": "How many discounted t-shirts are available?",
        "SQLQuery": "SELECT COUNT(DISTINCT t_shirt_id) FROM discounts;",
        "SQLResult": "Result of the SQL query",
        "Answer": "10"
    },
    {
        "Question": "Which t-shirt has the highest discount?",
        "SQLQuery": "SELECT t_shirt_id FROM discounts ORDER BY pct_discount DESC LIMIT 1;",
        "SQLResult": "Result of the SQL query",
        "Answer": "10"
    },
    {
        "Question": "How many t-shirts are available in black color?",
        "SQLQuery": "SELECT SUM(stock_quantity) FROM t_shirts WHERE color = 'Black';",
        "SQLResult": "Result of the SQL query",
        "Answer": "11"
    },
    {
        "Question": "How many red-colored t-shirts are in stock?",
        "SQLQuery": "SELECT SUM(stock_quantity) FROM t_shirts WHERE color = 'Red';",
        "SQLResult": "Result of the SQL query",
        "Answer": "15"
    },
    {
        "Question": "What is the total revenue from all Beauty brand t-shirts without discount?",
        "SQLQuery": "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Beauty';",
        "SQLResult": "Result of the SQL query",
        "Answer": "905"
    },
    {
        "Question": "How many t-shirts are available in size 'S' across all brands?",
        "SQLQuery": "SELECT SUM(stock_quantity) FROM t_shirts WHERE size = 'S';",
        "SQLResult": "Result of the SQL query",
        "Answer": "5"
    },
    {
        "Question": "Which brand has the lowest-priced t-shirt?",
        "SQLQuery": "SELECT brand FROM t_shirts ORDER BY price ASC LIMIT 1;",
        "SQLResult": "Result of the SQL query",
        "Answer": "Clothing"
    }
]

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [ ]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

to_vectorize = [" ".join(example.values()) for example in few_shots]

In [ ]:
to_vectorize

In [ ]:
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [ ]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

In [ ]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

### Setting up PromptTemplete using input variables

In [ ]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [ ]:
print(_mysql_prompt)

In [ ]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [ ]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [ ]:
new_chain("How many white color Levi's shirt I have?")

Now this is working ok. Previously for this same question it was giving wrong answer because it did not use SUM clause around stock_quantity column

In [ ]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

In [ ]:
new_chain("How much is the price of all white color levi t shirts?")

In [ ]:
new_chain("If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

In [ ]:
new_chain("If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

In [ ]:
new_chain.run('How much revenue  our store will generate by selling all Van Heuson TShirts without discount?')